* {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif, Arial;
  font-weight: bold;
}
.container {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.title-text {
  font-size: 21px;
  line-height: 26px;
}
.subtitle-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: lighter;
}

.col {
  display: flex;
  flex-direction: column;
}
.col-1-3 {
  @extend .col;
  width: calc(100% / 3 + 3px);
}
.col-2-3 {
  @extend .col;
  width: calc(100% / 3 * 2);
}
