.footer {
  height: 120px;
  background-color: #fff;
  &__tag {
    font-size: 21px;
    line-height: 120px;
    text-align: center;
  }
  &__social {
    height: 120px;
    justify-content: center;
    align-items: center;
  }
  &__copyright {
    height: 120px;
    justify-content: center;
    align-items: center;
  }
  &__copy {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    margin: 10px;
  }
}
