@mixin stitches-sprite ($x: 0, $y: 0, $width: 0, $height: 0) {
  background-position: $x $y;
  width: $width;
  height: $height;
}

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;

  &.sprite-ico-calendar {
    @include stitches-sprite(-5px, -5px, 20px, 22px);
  }

  &.sprite-ico-calendar-down {
    @include stitches-sprite(-35px, -5px, 20px, 22px);
  }

  &.sprite-ico-calendar-hover {
    @include stitches-sprite(-65px, -5px, 20px, 22px);
  }

  &.sprite-ico-checkbox {
    @include stitches-sprite(-95px, -5px, 20px, 20px);
  }

  &.sprite-ico-checkbox-active {
    @include stitches-sprite(-125px, -5px, 20px, 20px);
  }

  &.sprite-ico-checkbox-active-down {
    @include stitches-sprite(-155px, -5px, 20px, 20px);
  }

  &.sprite-ico-checkbox-active-hover {
    @include stitches-sprite(-95px, -35px, 20px, 20px);
  }

  &.sprite-ico-checkbox-down {
    @include stitches-sprite(-125px, -35px, 20px, 20px);
  }

  &.sprite-ico-checkbox-hover {
    @include stitches-sprite(-155px, -35px, 20px, 20px);
  }

  &.sprite-ico-ft-box {
    @include stitches-sprite(-5px, -65px, 64px, 76px);
  }

  &.sprite-ico-ft-burger {
    @include stitches-sprite(-79px, -65px, 74px, 76px);
  }

  &.sprite-ico-ft-house {
    @include stitches-sprite(-185px, -5px, 75px, 76px);
  }

  &.sprite-ico-logo-a {
    @include stitches-sprite(-163px, -87px, 27px, 30px);
    display: inline-block;
  }

  &.sprite-ico-logo-a-down {
    @include stitches-sprite(-200px, -87px, 27px, 30px);
    display: inline-block;
  }

  &.sprite-ico-logo-a-hover {
    @include stitches-sprite(-237px, -87px, 27px, 30px);
    display: inline-block;
  }

  &.sprite-ico-logo-academy {
    @include stitches-sprite(-163px, -127px, 27px, 33px);
    display: inline-block;
  }

  &.sprite-ico-logo-academy-down {
    @include stitches-sprite(-200px, -127px, 27px, 33px);
    display: inline-block;
  }

  &.sprite-ico-logo-academy-hover {
    @include stitches-sprite(-237px, -127px, 27px, 33px);
    display: inline-block;
  }

  &.sprite-ico-social-twitter {
    @include stitches-sprite(-5px, -170px, 19px, 15px);
  }

  &.sprite-ico-social-youtube {
    @include stitches-sprite(-34px, -170px, 20px, 14px);
  }

  &.sprite-ico-soical-fb {
    @include stitches-sprite(-270px, -5px, 9px, 19px);
  }

  &.sprite-ico-star {
    @include stitches-sprite(-64px, -170px, 18px, 17px);
    display: inline-block;
  }
}
