* {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif, Arial;
  font-weight: bold;
}
body {
  @include respond-to(wide-screens) {
    background-color: #f2f2f2;
  }
}
.container {
  @include respond-to(handhelds) {
    width: $small;
  }
  @include respond-to(medium-screens) {
    width: 100vw;
  }
  @include respond-to(wide-screens) {
    width: $large;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.title-text {
  font-size: 21px;
  line-height: 26px;
}
.subtitle-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: lighter;
}

.col {
  display: flex;
  flex-direction: column;
}
.col-1-3 {
  @extend .col;
  width: calc(100% / 3 + 3px);
}
.col-2-3 {
  @extend .col;
  width: calc(100% / 3 * 2);
}
.row {
  display: flex;
  flex-direction: row;
}
