.filter {
  box-sizing: border-box;
  height: 215px;
  background-image: url("../img/hotels-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  @extend .subtitle-text;
  @include respond-to(handhelds) {
    padding: 30px;
  }
  @include respond-to(medium-screens) {
    padding: 30px 73px;
  }
  @include respond-to(wide-screens) {
    padding: 30px 73px;
  }

  &__block {
    display: inline-block;
    vertical-align: top;

  }
  &__infr {
    float: left;
    width: 230px;
    @include respond-to(medium-screens) {
      margin-rigth: 20px;
    }
    @include respond-to(wide-screens) {
      margin-right: 20px;
    }
  }
  &__type {
    float: left;
    width: 230px;
  }
  &__title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 24px;
  }
  &__checkbox {
    display: none;
    & + .filter__label {
      position: relative;
      cursor: pointer;
    }
    & + .filter__label::before {
      position: absolute;
      content: "";
      @extend .sprite;
      @extend .sprite-ico-checkbox;
      left: 0;
    }
    &:checked + .filter__label::before {
      @extend .sprite-ico-checkbox-active;
    }
    & + .filter__label:hover {
      @extend .sprite-ico-checkbox-hover;
    }
    &:checked + .filter__label:hover {
      @extend .sprite-ico-checkbox-active-hover;
    }
    &:disabled + .filter__label {
      @extend .sprite-ico-checkbox-down;
    }
    &:checked:disabled + .filter__label {
      @extend .sprite-ico-checkbox-active-down;
    }
  }
  &__label {
    display: block;
    padding-left: 40px;
    margin-bottom: 23px;
    font-weight: 400;
  }
}

.price {
  float: right;
  &__range {
    @include respond-to(handhelds) {
      width: 220px;
    }
    @include respond-to(medium-screens) {
      width: 340px;
    }
    @include respond-to(wide-screens) {
      width: 340px;
    }
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 0;
  }
  &__elem {
    display: inline-block;
    width: 49%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 55px;
    font-weight: 400;
  }
  &__from {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 25px;
      right: -3px;
      top: 13px;
      background-color: #fff;
    }
  }
}

.slider {
  width: 220px;
  height: 55px;
  &__slider {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    &::after {
      position: absolute;
      content: "";
      top: 8px;
      left: 8px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #ccc;
    }
    &:hover::after {
      background-color: #1c4f80;
    }
  }
}
