.filter {
  box-sizing: border-box;
  height: 215px;
  background-image: url("../img/hotels-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  @extend .subtitle-text;
  @extend %hotels-main-padding;

  &__block {
    display: inline-block;
    vertical-align: top;
    width: 230px;
  }
  &__title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 24px;
  }
  &__checkbox {
    display: none;
    & + .filter__label {
      position: relative;
      cursor: pointer;
    }
    & + .filter__label::before {
      position: absolute;
      content: "";
      @extend .sprite;
      @extend .sprite-ico-checkbox;
      left: 0;
    }
    &:checked + .filter__label::before {
      @extend .sprite-ico-checkbox-active;
    }
    & + .filter__label:hover {
      @extend .sprite-ico-checkbox-hover;
    }
    &:checked + .filter__label:hover {
      @extend .sprite-ico-checkbox-active-hover;
    }
    &:disabled + .filter__label {
      @extend .sprite-ico-checkbox-down;
    }
    &:checked:disabled + .filter__label {
      @extend .sprite-ico-checkbox-active-down;
    }
  }
  &__label {
    display: block;
    padding-left: 40px;
    margin-bottom: 23px;
  }
}
