.footer {
  height: 120px;
  width: 100%;
  .container {
    background-color: rgba(255, 255, 255, 0.85);
  }
  &__tag {
    font-size: 21px;
    line-height: 120px;
    text-align: center;
  }
  &__social {
    height: 120px;
    justify-content: center;
    align-items: center;
  }
  &__copyright {
    height: 120px;
    justify-content: center;
    align-items: center;
  }
  &__copy {
    font-weight: lighter;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    margin: 10px;
    @extend .sprite;
    &-logo-a {
      @extend .sprite-ico-logo-a;
      &:hover {
        @extend .sprite-ico-logo-a-hover;
      }
      &:active, &:focus {
        @extend .sprite-ico-logo-a-down;
      }
    }
    &-logo-academy {
      @extend .sprite-ico-logo-academy;
      &:hover {
        @extend .sprite-ico-logo-academy-hover;
      }
      &:active, &:focus {
        @extend .sprite-ico-logo-academy-down;
      }
    }
  }
}
