.footer {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  &__tag {
    font-size: 21px;
    line-height: 120px;
    text-align: center;
  }
  &__social {
    height: 120px;
    justify-content: center;
    align-items: center;
  }
  &__copyright {
    height: 120px;
    justify-content: center;
    align-items: center;
  }
  &__copy {
    font-weight: lighter;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    margin: 10px;
  }
}
