.hotel {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  height: 150px;
  background-color: #fff;
  @include respond-to(handhelds) {
    padding: 30px;
  }
  @include respond-to(medium-screens) {
    padding-left: calc((100vw / 5 - 93px) / 2);
    padding-right: calc((100vw / 5 - 93px) / 2);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include respond-to(wide-screens) {
    padding: 30px 73px;
  }
  &__img {
    display: inline-block;
    vertical-align: top;
    margin-right: 27px;
    width: 135px;
    height: 90px;
    float: left;
  }
  &__description {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    float: left;
  }
  &__rating {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 110px;
    float: right;
  }
  &__title {
    font-size: 21px;
    margin: 0;
    line-height: 21px;
  }
  &__link {
    text-decoration: none;
    color: #000;
    &:hover {
      color: #81b3d2;
    }
    &:active, &:focus {
      color: #cacaca;
    }
  }
  &__type, &__price {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    font-weight: lighter;
    margin: 0 10px 0 0;
    padding-top: 9px;
    padding-bottom: 12px;
    @extend .subtitle-text;
  }
  &__infolink {
    margin-right: 10px;
  }
  &__figure {
    width: 100%;
    background-color: #f2f2f2;
    color: #b9b9b9;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 0;
    font-weight: lighter;
  }
  &__star {
    width: 25%;
    transition: 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
