$color-blue: #b5d2e4;
$color-gray: #e3e3e3;
$color-brown: #a99e97;
$color-brown-hvr: #928680;

$color-blue-btn: #81b3d2;
$color-blue-btn-hvr: #669ec0;
$color-blue-btn-down: #5496bd;
$color-blue-btn-text: #eef4f9;
$color-blue-btn-text-hvr: #f8fafc;
$color-blue-btn-text-down: #7aabc9;

$color-brown-btn: #766357;
$color-brown-btn-hvr: #604e43;
$color-brown-btn-down: #503e33;
$color-brown-btn-text: #d1cbc7;
$color-brown-btn-text-hvr: #cac4c0;
$color-brown-btn-text-down: #7c716a;
